h1.configuracao {
    color: red;
    background-color: yellow;
}

h2.configuracao {
    color: red;
    background-color: yellow;
    text-decoration: underline;
}

p.configuracao {
    color: red;
    background-color: yellow;
    font-style: italic;
}

strong.configuracao {
    color: red;
    background-color: yellow;
}